<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->

  <appSettings>
    <add key="DemoAuthRedirect" value="true" xdt:Transform="SetAttributes"
          xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=198.71.225.145;Initial Catalog=speechplan_demo;uid=speechplan_demo;pwd=SageWorks2016"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <connectionStrings>
    <add name="SpeechSageDBEntities"
      connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=198.71.225.145;initial catalog=speechplan_demo;persist security info=True;user id=speechplan_demo;password=SageWorks2016;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <compilation debug="true" targetFramework="4.5" xdt:Transform="Replace" />
  </system.web>
</configuration>